.student_profile span{
    background-color: white;
    color: rgb(21, 21, 21);
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}
.student_profile label{
    font-weight: 500;
    font-size: 17px;
    margin-top: 20px;
    display: block;
}